# Curso de Python Básico para Análise de Dados em Finanças Públicas
Este notebook acompanha a apostila do curso, com conteúdo prático para execução no Google Colab ou Jupyter Notebook.

## Ambiente de Trabalho
Recomenda-se o uso do [Google Colab](https://colab.research.google.com) para executar este notebook sem necessidade de instalação local.

Se estiver usando localmente, instale as bibliotecas necessárias com o comando:
```bash
pip install pandas matplotlib seaborn openpyxl
```

## Aula 1 – Fundamentos da Linguagem Python

In [ ]:
# Variáveis e tipos de dados
nome = "João"
idade = 35
salario = 2500.75
ativo = True

In [ ]:
# Operadores matemáticos
soma = 10 + 5
subtracao = 10 - 2
multiplicacao = 4 * 3
divisao = 20 / 4

In [ ]:
# Listas
cidades = ["Goiânia", "Anápolis", "Rio Verde"]
cidades.append("Catalão")
print(cidades[0])

In [ ]:
# Dicionários
municipio = {
    "nome": "Goiânia",
    "populacao": 1500000,
    "receita": 3200000000
}
print(municipio["nome"])

In [ ]:
# Estrutura condicional
if salario > 3000:
    print("Salário alto")
else:
    print("Salário médio ou baixo")

In [ ]:
# Laço de repetição
for cidade in cidades:
    print(cidade)

**Exercício:**
Crie um dicionário representando um município com as chaves: nome, população, receita, despesa. Calcule o déficit ou superávit.

## Aula 2 – Manipulação de Dados com Pandas

In [ ]:
import pandas as pd

In [ ]:
# Leitura do arquivo CSV
df = pd.read_csv("dados_receita_exemplo.csv", sep=";")
df.head()

In [ ]:
# Exploração inicial
print(df.columns)
print(df.shape)
print(df.info())
print(df.describe())

In [ ]:
# Seleção de dados
print(df["Receita"])
df_go = df[df["UF"] == "GO"]
df_subset = df[["Municipio", "Receita"]]

In [ ]:
# Agrupamento
df.groupby("UF")["Receita"].sum()

In [ ]:
# Ordenação
df.sort_values(by="Receita", ascending=False)

**Exercício:**
Carregue o CSV, selecione dados do seu estado, agrupe por tipo de receita e exiba os 5 municípios com maior receita.

## Aula 3 – Limpeza e Tratamento de Dados

In [ ]:
# Dados ausentes
print(df.isnull().sum())

In [ ]:
# Preencher valores ausentes
df["Receita"] = df["Receita"].fillna(0)

In [ ]:
# Remover linhas nulas
df = df.dropna()

In [ ]:
# Corrigir tipos
df["Ano"] = df["Ano"].astype(int)
df["Receita"] = df["Receita"].astype(float)

In [ ]:
# Padronizar texto
df["Municipio"] = df["Municipio"].str.upper()
df["UF"] = df["UF"].str.strip()

In [ ]:
# Duplicatas
print(df[df.duplicated()])
df = df.drop_duplicates()

## Aula 4 – Visualização de Dados

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

In [ ]:
# Gráfico de linha
plt.plot(df["Ano"], df["Receita"])
plt.title("Evolução da Receita")
plt.xlabel("Ano")
plt.ylabel("Receita")
plt.show()

In [ ]:
# Gráfico de barras
top_mun = df.sort_values(by="Receita", ascending=False).head(5)
plt.bar(top_mun["Municipio"], top_mun["Receita"])
plt.title("Top 5 Municípios por Receita")
plt.xticks(rotation=45)
plt.show()

## Aula 5 – Exportação e Automação de Relatórios

In [ ]:
# Exportar para CSV e Excel
df.to_csv("dados_limpos.csv", index=False, sep=";")
df.to_excel("dados_relatorio.xlsx", index=False)

In [ ]:
# Salvar gráfico como imagem
plt.plot(df["Ano"], df["Receita"])
plt.title("Receita")
plt.savefig("grafico_receita.png")
plt.close()

In [ ]:
# Criar relatório em txt
municipio = "Goiânia"
total = df[df["Municipio"] == municipio]["Receita"].sum()
relatorio = f"Receita Total de {municipio}: R$ {total:,.2f}"
with open("relatorio_goiania.txt", "w") as f:
    f.write(relatorio)

Na próxima etapa, vamos aprender como integrar Python com APIs públicas para coletar dados diretamente da internet.